.DS_Store

*.xcuserstate

*.xcbkptlist

*.xcodeproj/xcuserdata/*.xcuserdatad

Pods

DerivedData

*.xccheckout

*.xcuserdatad

*.pbxuser

tools/repaltool/sunset.jpg

tools/repaltool/sunset1.png

*.pkey

*.p12

*.pem
